:root {
	--bgcol: {0};
	--fgcol: {1};
	--olcol: {2};
}

body {
	background-color: var(--bgcol);
	color: var(--fgcol);
	font-family: Arial;
}

button {
	width: 100%;
	border: 3px solid var(--olcol);
	border-radius: 10px;
	background-color: var(--bgcol);
	color: var(--fgcol);
	right: 0;
}

input {
	width: 99%;
	left: 0;
	border: 3px solid var(--olcol);
	border-radius: 10px;
	background-color: var(--bgcol);
	color: var(--fgcol);
}