:root {
	--bgcol: {0};
	--fgcol: {1};
	--olcol: {2};
}

body {
	background-color: var(--bgcol);
	color: var(--fgcol);
	font-family: Arial;
}

button {
	width: 100%;
	border: 3px solid var(--olcol);
	border-radius: 10px;
	background-color: var(--bgcol);
	color: var(--fgcol);
	right: 0;
}

input {
	width: 98.7%;
	border: 3px solid var(--olcol);
	border-radius: 10px;
	background-color: var(--bgcol);
	color: var(--fgcol);
	right: 0;
}

#des{
	font-size:x-large;
}

#env {
	font-size: x-large;
}

#set{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:10%;
	border-bottom:3px solid var(--olcol);
	overflow:hidden;
}

#ctn{
	top:10%;
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	left:0;
	right:0;
	bottom:0;
	position:fixed;
}

#sett {
	line-height:0;
	font-size: xx-large;
}

#settimg{
	border-radius:50%;
	height:10%;
	width:10%;
}